a{
  color:#ddd;
  cursor:pointer;
}
a:hover{color:#aaa;}
.part{
  margin:10px auto;
}
#header .part{
  margin:0 auto;
}
#logo{padding:0;}
#setWrapper{margin-right:0;}
#menuWrapper{right:5px;}
/*title*/
#title{
  font-size: 30px;
  text-align: center;
  padding:5px 0 15px 0;
  word-wrap: break-word;
  line-height: 30px;
}
.i-info{
  border:none;
}
.ii-block{
  float:right;
}
/*end title*/
/*text*/
#text .section{
}
.section{
  text-indent: 2em;
  line-height: 25px;
}
.image{
  text-align:center;
}
.image img{
  max-width:80%;
}
.code pre{
  background-color: #444;
  border-radius: 5px;
  border-color: #000;
  color: #fff;
  outline: none;
  resize: none;
  padding: 10px;
  line-height: 22px;
  letter-spacing: .3px;
  font-family: Microsoft Yahei;
  overflow: auto;
}
.code{
  font-size: 18px;
}
.section,.image,.code{
  margin:10px;
}
#prise{
  width: 90px;
  height: 50px;
  margin: 0 auto;
  background-color: #888;
  border-radius: 5px;
  font-size: 25px;
  color: #fff;
  cursor:pointer;
  margin-top:20px;
  text-align:center;
  line-height: 50px;
}
#prise .number{
  margin-left:3px;
}
#prise .glyphicon{
  top:5px;
}
#prise:hover{
  background-color: #444;
}
#prise:active{
  background-color: #222;
}
/*end text*/


#footer{padding:10px 0;}
/*link*/
.link{
  margin: 0 5px;
  text-decoration: underline;  
  word-wrap: break-word;
}
/*end link*/

/*comment*/
.comment{
  font-size:18px;
  width: 100%;
  background-color: #444;
  border-radius: 5px;
  border-color: #000;
  color: #fff;
  outline: none;
  height: 150px;
  padding: 10px;
  line-height: 22px;
  letter-spacing: .3px;
  font-family: Microsoft Yahei;
  overflow: auto;
  cursor:text;
}
.comment.change{
  font-size:14px;
}
.span-link{
  color:#ddd;
  text-decoration:underline;
  margin:0 2px;
  cursor:pointer;
}
.span-link:hover{
  color:#fff;
}
.rabbit{
  border-radius:5px;
  width:40px;
  height:40px;
  margin: 0 1px;
}
.comment-toolbox{
  height:auto;
  margin-bottom:5px;
  position:relative;
}
.comment-tool{
  float: left;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  border-right: 0;
  padding: 3px;
  cursor: pointer;
  border:1px solid transparent;
  transition:border .5px linear;
  -webkit-transition:border .5px linear;
}
.comment-tool:hover{
  border:1px solid #888;
  
}
.comment-tool.right{
  float:right;
}
.comment-tool.forbid{
  cursor: no-drop;
}
.comment-tool img{
  
}
.comment-tool span{
  
}
.face-box{
  display:none;
  width:321px;
  position:absolute;
  top:30px;
  left: 0;
  border:1px solid #444;
  border-right:0;
  border-bottom:0;
  box-shadow: 0 0 10px 2px #444;
}
.face-item{
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  float: left;
  border: 1px solid #444;
  border-top: 0;
  border-left: 0;
  cursor:pointer;
}
.face-box.change{width: 281px;}
.face-item.change{width: 35px;height: 35px;}
.button{
  width: 60px;
  height: 30px;
  background-color: #444;
  color: #fff;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  cursor:pointer;
  line-height: 30px;
  padding:0!important;
}
.button:hover{background-color: #222;}
.button:active{background-color: #000;}
/*end comment*/

/*commentList*/
.comment-item{    
  border-top: 1px dashed #aaa;
  padding: 10px 0;
}
.c-user{
  width:15%;
  float:left;
}
.c-user.change{width:25%}
.c-user-photo{
  width: 60%;
  margin: 5px auto;
  display: block;
  border-radius:50%;
}
.c-user-photo.change{
  width: 90%;
}
.c-user-name{
  text-align:center;
  word-wrap: break-word;
}
.c-content{
  width:85%;
  float:left;
  padding:0 10px;
}
.c-content.change{width:75%}
.c-content .ii-block{cursor:pointer;}
.c-content .ii-block:hover{background-color:#ccc;}
.c-content .ii-block:active{background-color:#aaa;}
.c-content-info{
}
.c-content-text{
}
.c-content-text .span-link{
  color:#666;
}
.c-content-text .span-link:hover{
  color:#444;
}
.c-reply{
}
.c-reply-item{
  border-top: 1px dashed #aaa;
  padding-bottom: 10px;
}
.c-r-title{
  padding-bottom: 10px;  
  white-space: nowrap;
  overflow: hidden;
}
.c-r-photo{
      width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    top: 7px;
}
.c-r-name,.c-r-time{
  margin: 0 5px;
}
.c-r-content{
}
.no-border{
  border-top:0;
}
/*end commentList*/
.cover{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 10;
  cursor:pointer;
}
.cover-block{
  margin: 200px auto;
  padding:10px;
  width:400px;
  cursor:default;
}
.cover-block.change{
  margin: 160px 10px;
  width:auto;
}

.display-none{display:none;}
.text-center{text-align:center;}
.div-center{margin:0 auto;}
/*for adaption*/
.d-show{display:none;}
.d-show.change{display:block;}
.d-hide.change{display:none;}
.part.change{width:96%;}
#footer.change{padding:10px 0;}
.wechat-img.change{  left: -30px;}
#footerLink.change{font-size:12px;}
#title.change{font-size:17px;line-height:17px;}
.normal-text,.section{font-size: 20px;}
.small-text{font-size: 18px;}
.normal-text.change,.section.change{font-size:15px}
.small-text.change{font-size: 12px;}
.code.change{font-size:10px;}
.head-right.change{
  margin:10px 5px;
}
.block.change{padding:10px;}
.c-content.change{padding-right:0;}



/*login*/

